@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/admin/api-resource.css" />
<h1>Manage your Server</h1>

<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
