<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.ApiResourceNavlass(ViewContext)" id="profile" asp-area="Admin" asp-page="/ApiResource/Index">Api Resources</a></li>
</ul>
