@page
@model SM.APIs.AuthServer.Areas.Admin.Pages.ApiResource.AddModel
@{
    var scopes = Model.ApiScopes.Select(x => new SelectListItem() { Text = x.DisplayName, Value = x.Name });
}
<div class="row">
    <div class="col-md-12">
        <section>
            <form id="account" method="post">
                <h4>Add new API.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ApiResources.Name"></label>
                    <input asp-for="ApiResources.Name" autocomplete="off" class="form-control" />
                    <span asp-validation-for="ApiResources.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApiResources.DisplayName"></label>
                    <input asp-for="ApiResources.DisplayName" autocomplete="off"  class="form-control" />
                    <span asp-validation-for="ApiResources.DisplayName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApiResources.Scopes"></label>
                    <select multiple="multiple" class="multi-select" class="form-control" asp-for="ApiResources.Scopes" asp-items="scopes"></select>
                    <span asp-validation-for="ApiResources.Scopes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
